<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Tech Talk's Schdule</div>
    <% if @me %>
    <div class="panel-body">        
        <form role="form" class="form" action="<%= volunteer_path %>" method="post">
            <div class="form-group form-inline pull-right">
                <label>Date : </label>
                <select class="form-control" name="weeks">
                    <option value="0">This week</option>
                    <option value="1">Next week</option>
                    <option value="2">Next 2 weeks</option>
                </select> 
            	<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-hand-up"></span> Volunteer!</button>
            </div>
        </form>
    </div>
    <% end %>

    <!-- Table -->
    <table class="table" ng-controller="MainCtrl">
        <thead>
            <tr>
                <th>Team</th>
                <th>Name</th>
                <th>IRC</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        	<% @users.each do |user| %>
            <tr <% if @me and user.id == @me.id %> class="warning" <% end %> >
                <td><%= user.team %></td>
                <td><%= user.name %></td>
                <td><%= user.nickname %></td>
                <td><%= user.next_talk %></td>
            </tr>   
            <% end %>     
        </tbody>
    </table>
</div>
