<% if @me %>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
		<form class="form-horizontal" role="form" action="<%= me_path %>" method="post">
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">Name</label>
		    	<div class="col-sm-10">
		    		<input class="form-control" type="text" id="disabledTextInput" placeholder="<%= @me.name %>" value="<%= @me.name %>">
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">Email</label>
			    <div class="col-sm-10">
			    	<input class="form-control" type="text" id="disabledTextInput" value="<%= @me.email %>" disabled>
			    </div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">Team</label>
			    <div class="col-sm-10">
			        <select class="form-control" name="team">
		                <option value="ABCS">ABCS</option>
		                <option value="AMEDIA">A-MEDIA</option>
		            </select>
			    </div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">Irc name</label>
			    <div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Your irc nickname" value="<%= @me.nickname %>">
			    </div>
		  	</div>
		  	<div class="form-group">
		    	<div class="col-sm-offset-2 col-sm-10">
			      	<button type="submit" class="btn btn-primary">Submit</button>
			    </div>
		  	</div>
		</form>
	</div>
</div>		
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">My previous sessions:</div>
    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Topic</th>
                <th>Speaker</th>
                <th>From</th>
            </tr>
        </thead>
        <tbody>
        	<% @me.talks.each do |talk| %>
            <tr>
                <td><%= talk.date %></td>
                <td><%= talk.topic %></td>
            </tr>   
            <% end %>     
        </tbody>
    </table>
</div>	
<% else %>
<p>You need to sign-in to view this page.</p>
<% end %>
