<%= form_for(@food_finder_team) do |f| %>
  <% if @food_finder_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_finder_team.errors.count, "error") %> prohibited this food_finder_team from being saved:</h2>

      <ul>
      <% @food_finder_team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
