<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food_finder_team.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @food_finder_team.weight %>
</p>

<strong>Members:</strong>
<table class="table">
  <tr>
    <th>image</th>
    <th>Name</th>
    <th>Irc</th>
  </tr>
  <% @food_finder_team.members.each do |member| %>
  <tr>
    <td><%= member.email %></td>
    <td><%= member.name %></td>
    <td><%= member.nickname %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_food_finder_team_path(@food_finder_team) %> |
<%= link_to 'Back', food_finder_teams_path %>
