<p id="notice"><%= notice %></p>

<p>
  <strong>Delivered date:</strong>
  <%= @food.delivered_date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @food.content %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
