<!DOCTYPE html>
<html>
<head>
    <title>HappyFriday | <%= @title %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>	
    <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="header row">
		    <ul class="nav nav-pills pull-right">
		    	<li class="dropdown <% if @title == 'Tech Talk'%>active<% end %>">
		    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tech Talk <b class="caret"></b></a>
		    		<ul class="dropdown-menu">
		    			<li><a href="<%=users_path%>">Schedule</a></li>
		        		<li><a href="<%=talks_path%>">History</a></li>
		        		<li><a href="<%=no_techtalk_days_path%>">No TechTalk Days</a></li>
		    		</ul>
		    	</li>
		    	<li class="dropdown <% if @title == 'Food Finder'%>active<% end %>">
		    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Food <b class="caret"></b></a>
		    		<ul class="dropdown-menu">
		    			<li><%= link_to 'Schedule', food_finder_teams_path %></li>
		    		</ul>
		    	</li>
		        <% if @me -%>
		        <li<% if @title == 'Me' %> class="active"<% end %>><a href="<%=me_path%>"><%= @me.name %></a></li>
		        <% end %>
		        <li>
		        <% if @me -%>
		        	<%= link_to "Sign out", signout_path %>
				<% else -%>
		        	<%= link_to "Sign in", signin_path %>					
				<% end %>	
				</li>

		    </ul>
		    <h3 class="text-muted">Happy Friday!</h3>
		</div>
		<% flash.each do |name, msg| %>
			<% if name == :success %>
			<div class="alert alert-success fade in alert-dismissable">
			<% elsif name == :error %>
			<div class="alert alert-danger fade in alert-dismissable">
			<% else %>
			<div class="alert alert-info fade in alert-dismissable">
			<% end %>
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<%= msg %>
			</div>
		<% end %>
		<div class="row">
			<%= yield %>
		</div>		
		<div class="footer row">
		    <p>© 2013 ABCTECH</p>
		</div>
	</div>
    
</body>
</html>
